.form-control{
  border-radius: 1000px;
}
a{
  color: inherit;
}
a:hover{
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

#chatSpace{
  width: 150px;
  height: 150px;
  overflow: scroll;
}
